<div class="contract-id">
  <p><%= contract.loan.id %></p>
</div>
<div class="contract-amount">
  <p> ￥<%= contract.loan.amount %></p>
</div>
<div class="contract-interest">
  <p><%= contract.loan.interest_rate %>%</p>
</div>
<div class="contract-total">
  <p>￥<%=
    (contract.loan.amount + ( contract.loan.amount * contract.loan.interest_rate / 100 )).round
    %></p>
</div>
<div class="contract-due">
  <p><%= contract.due_date %></p>
</div>


