<h3>ID: <%= contract.id %></h3>
<p>description: <%= contract.description %></p>
<p>created at:<%= contract.created_at %></p>
<p>due date:<%= contract.due_date %></p>
<p>interest rate:<%= contract.loan.interest_rate %></p>
<p>amount: <%= contract.loan.amount %></p>
