<div>
  <h3>ID: <%= contract.loan.id %></h3>
</div>
<div>
  <p class="contract-amount"> ￥<%= contract.loan.amount %></p>
</div>
<div>
  <p class="contract-interest"><%= contract.loan.interest_rate %>%</p>
</div>
<div>
  <p class="contract-total">￥<%=
    (contract.loan.amount + ( contract.loan.amount * contract.loan.interest_rate / 100 )).round
    %></p>
</div>
<div>
  <p class="contract-due"><%= contract.due_date %></p>
</div>
