<%= render "sidebar" %>
<div class="contract-wrapper">

  <!-- pending loan table -->
  <div class="my-5">
    <h2>Pending approval</h2>
  </div>
  <div class="card loan loan-header loan-header-pending text-light">
    <%= render "users/loan-header-pending" %>
  </div>
  <% @pending.each do |pending_loan| %>
    <div class='card loan loan-pending '>
      <%= render "users/loan-card", contract: pending_loan %>
       <div class='approval-buttons'>
        <%= link_to contract_approve_path(pending_loan), method: "patch" , class: "btn btn-approve btn-circle m-0" do  %>
          <i class="fas fa-check-circle"></i>
        <% end %>
        <%= link_to "#", method: "patch" , class: "btn btn-reject btn-circle m-0"  do %>
          <i class="fas fa-times-circle"></i>
        <% end %>
      </div>
    </div>
  <% end %>
  <!-- / pending loan table -->

  <!-- all contracts table -->
  <div class="my-5">
    <h2>All contracts</h2>
  </div>
  <div class="card loan loan-header loan-header-all text-light">
    <%= render "users/loan-header" %>
  </div>
  <% @contracts.each do |contract| %>
    <div class='card loan'>
      <%= render "users/loan-card", contract: contract %>
    </div>
  <% end %>
  <!-- / all contracts table -->
</div>
