<%= render "sidebar" %>
<div class="contract-wrapper">
<% if current_user.lender%>
    <!-- pending loan table -->
  <%= render "pending-loan-table" %>
    <!-- / pending loan table -->
    <!-- all contracts table -->
  <%= render "all-loan-table" %>
    <!-- / all contracts table -->
<% else %>
  <%= render "active-loan" %>
  <%= render "all-loan-table" %>
<% end %>
</div>
