<div class="contract-wrapper">
  <% if current_user.lender %>
    <%= render "sidebar" %>
      <!-- payment-confirm loan table -->
    <%= render "payment-confirm-loan-table" %>
      <!-- /payment-confirm loan table -->
      <!-- pending loan table -->
    <%= render "pending-loan-table" %>
      <!-- / pending loan table -->
  <% else %>
    <!-- active contracts table -->
    <%= render "pending-loan-table" %>
    <%= render "active-loan" %>
    <!-- / active contracts table -->
  <% end %>
  <!-- all contracts table -->
  <%= render "all-loan-table" %>
  <!-- / all contracts table -->
  <% if policy(current_user).become_lender? %>
    <%= link_to "become a lender", become_lender_path, method: 'patch' %>
  <% else %>
    <p class='btn btn-secondary'>Become lender</p>
  <% end %>
</div>
</div>
