<div class="contract-wrapper">
  <% if current_user.lender %>
    <%= render "sidebar" %>
      <!-- payment-confirm loan table -->
    <%= render "payment-confirm-loan-table" %>
      <!-- /payment-confirm loan table -->
      <!-- pending loan table -->
    <%= render "pending-loan-table" %>
      <!-- / pending loan table -->
  <% else %>
    <!-- active contracts table -->
    <%= render "pending-loan-table" %>
    <%= render "active-loan" %>
    <!-- / active contracts table -->
  <% end %>
  <!-- all contracts table -->
  <%= render "all-loan-table" %>
  <!-- / all contracts table -->
  <%= link_to "Become a Lender", become_lender_path, class: "btn btn-primary m-5", method: 'patch' %>
</div>
</div>
