<div class="wrapper">
  <div class="banner">
    <div class="banner-content">
      <div>
        <h2 class="tag-line"><%= @tagline.sample %></h2>
      </div>
      <div class="d-flex flex-row my-3 mx-auto">
        <%= form_tag results_path, class: 'form-inline mx-auto', method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control search-bar",
            placeholder: "How much money do you need..."
          %>
          <%= button_tag(type: "submit", class: "btn btn-blocky btn-approve mx-3") do %>
            <i class="fas fa-yen-sign"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="landing-user-stories-container">
    <div class="landing-user-story">
      <div class="landing-user-story-image">
        <%= image_tag "https://avatars0.githubusercontent.com/u/26819547?s=460&v=4", alt: "user image" %>
      </div>
      <div class="landing-user-story-info">
        <h2>Was in need!</h2>
        <p>Car broke down and I needed money quickly</p>
        <div class="stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
      </div>
    </div>
    <div class="landing-user-story">
      <div class="landing-user-story-image">
        <%= image_tag "https://avatars3.githubusercontent.com/u/279604?s=460&v=4", alt: "user image" %>
      </div>
      <div class="landing-user-story-info">
        <h2>Paid for a party</h2>
        <p>Needed some cash quickly for my graduation party</p>
        <div class="stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
      </div>
    </div>
    <div class="landing-user-story">
      <div class="landing-user-story-image">
        <%= image_tag "https://avatars1.githubusercontent.com/u/25542223?s=460&v=4", alt: "user image" %>
      </div>
      <div class="landing-user-story-info">
        <h2>Could visit my family</h2>
        <p>Some quick cash to visit my family abroad</p>
        <div class="stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
      </div>
    </div>
  </div>
</div>