<h1>Loan # <%= @loan.id %></h1>
<div class="card">
<h3>￥<%= @loan.amount %></h3>
<p>Interest Rate: <%= @loan.interest_rate %>%</p>
<p>Duration: <%= @loan.duration %> Days</p>
<p>Potential return: ￥<%=
    (@loan.amount + ( @loan.amount * @loan.interest_rate / 100 )).round
    %></p>
</div>
